<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>
<!--vo alias 설정  -->

	<typeAliases>
		<typeAlias type="com.js.autionweb.vo.user" alias="user"/> 
		<typeAlias type="com.js.autionweb.vo.article" alias="article"/>
	</typeAliases>
    
</configuration>